name: PMD code Analysis

on:
  push:
     branches: ["main"]
  pull_request:
     branches: ["main"]

jobs:
   pmd:
     runs-on: ubuntu-latest

     steps:
        - uses: actions/checkout@v4

        - name: Run PMD analysis
          uses: pmd/pmd-github-action@v1
          id: pmd
          with:
            rulesets: 'category/java/errorprone.xml'
            
        - name: Fail build if there are violations
          if: ${{steps.pmd.outputs.violations != '0'}}
          run: exit 1
        - name: Upload PMD report
          uses: actions/upload-artifact@v4
          with:
            name: pmd-report
            path: app/build/reports/pmd
