name: PMD code Analysis

on:
  push:
     branches: ["main"]
  pull_request:
     branches: ["main"]

jobs:
   pmd:
     runs-on: ubuntu-latest

     steps:
        - uses: actions/checkout@v4

        - name: Run PMD analysis
          uses: pmd/pmd-github-action@v1
          with:
            rulesets: 'category/java/errorprone.xml'
        - name: Upload PMD report
          uses: actions/upload-artifact@v2
          with:
            name: pmd-report
            path: app/build/reports/pmd
