name: PMD code Analysis

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
   pmd:
     runs-on: ubuntu-latest

     steps:
        - uses: actions/checkout@v4

        - name: Set up Java
          uses: actions/setup-java@v4
          with:
            distribution: 'temurin'
            java-version: '11'

        - name: Run PMD analysis
          uses: pmd/pmd-github-action@v2
          id: pmd
          with:
            rulesets: 'category/java/errorprone.xml'
            
        - name: Fail build if there are violations
          if: ${{ steps.pmd.outputs.violations != '0' }}
          run: exit 1

        - name: Upload SARIF file
          uses: github/codeql-action/upload-sarif@v3
          with:
            sarif_file: pmd-report.sarif
